<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        {{ 'pray' | translate }}
      </h3>
    </div>

    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="/islamic/list">
        {{ 'back' | translate }}
        <i class="fa fa-arrow-left ml-2 mr-0"></i>
      </a>
    </div>
  </div>

  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-lg-12">
          <!--begin::Form group-->
          <div class="form-group">
            <label>{{ 'pray' | translate }}</label>

            <!-- 
                TODO: Add This to Textarea if you want  'Vaild' class 
                [ngClass]="{
                'is-invalid':
                  gradesForm.controls['ArabicValue'].invalid &&
                  gradesForm.controls['ArabicValue'].touched
              }"
             -->
            <textarea
              class="form-control form-control-solid h-auto py-4 px-6 rounded-md font-size-h6"
              type="text"
              [placeholder]="'edit' | translate"
            ></textarea>

            <!-- TODO: Validation -->
            <!-- <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'tag_Is_Required' | translate,
                control: gradesForm.controls['ArabicValue']
              }"
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'pattern',
                message: 'invalid_Data' | translate,
                control: gradesForm.controls['ArabicValue']
              }"
            ></ng-container> -->
          </div>
          <!--end::Form group-->
        </div>
        <!-- /col -->
      </div>
      <div class="float-right">
        <button type="submit" class="btn btn-primary font-weight-bold">
          {{ 'save' | translate }}
        </button>
      </div>
    </form>
  </div>
  <ng-template
    #formError
    let-control="control"
    let-message="message"
    let-validation="validation"
  >
    <ng-container
      *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
    >
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          {{ message }}
        </div>
      </div>
    </ng-container>
  </ng-template>
</div>
