<!--begin::Login-->
<div class="login-form login-signup">
  <!--begin::Form-->
  <form
    class="form"
    novalidate="novalidate"
    id="kt_login_signup_form"
    [formGroup]="loginForm"
  >
    <!--begin::Title-->
    <div>
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        {{ 'login' | translate }}
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        {{ 'loginCredentials' | translate }}
      </p>
    </div>
    <!--end::Title-->

    <!-- begin::Alert error-->
    <ng-container>
      <div
        class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
      >
        <div class="alert-text">Handel Error Msg Here</div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group-->
    <div class="form-group">
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        type="email"
        placeholder="{{ 'email' | translate }}"
        name="email"
        formControlName="Email"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            loginForm.controls['Email'].invalid &&
            loginForm.controls['Email'].touched
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'requiredEmail' | translate,
          control: loginForm.controls['Email']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'invalidEmail' | translate,
          control: loginForm.controls['Email']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'emailMaxLength' | translate,
          control: loginForm.controls['Email']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group">
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        type="password"
        placeholder="{{ 'password' | translate }}"
        name="password"
        formControlName="Password"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            loginForm.controls['Password'].invalid &&
            loginForm.controls['Password'].touched
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'requiredPassword' | translate,
          control: loginForm.controls['Password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'passwordPattern' | translate,
          control: loginForm.controls['Password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'passwordMaxLength' | translate,
          control: loginForm.controls['Password']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
      <button
        type="submit"
        id="kt_login_signup_submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-3 my-3 mr-4"
      >
        {{ 'loginButton' | translate }}
      </button>
    </div>
    <!--end::Form group-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signup-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
