<!--begin::Topbar-->
<!-- <ng-container *ngIf="extrasLanguagesDisplay">
  <app-language-selector style="margin-top: 10px"></app-language-selector>
</ng-container> -->
<ng-container *ngIf="extrasUserDisplay">
  <ng-container *ngIf="extrasUserLayout === 'offcanvas'">
    <ng-container>
      <div class="topbar-item mt-3" ngbDropdown>
        <div
          class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2"
          id="kt_quick_user_toggle"
          style="background: #f3f6f9"
          ngbDropdownToggle
        >
          <span
            class="text-dark-50 font-weight-bolder font-size-base d-md-inline mr-3"
            >Admin Name</span
          >
          <span
            class="text-muted font-weight-bold font-size-base d-md-inline mr-1"
          >
            <i class="fas fa-caret-down"></i>
          </span>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="pb-0">
          <div class="dropdown-item cursor-pointer">
            <div
              class="d-flex align-items-center justify-content-between w-100"
            >
              <div class="d-flex align-items-center">
                <span
                  class="symbol symbol-lg-35 symbol-25 symbol-light-info mr-3"
                >
                  <span class="symbol-label font-size-h5 font-weight-bold">
                    <i class="fas fa-sign-out-alt"></i>
                  </span>
                </span>

                <span>{{ 'logout' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
<!--end::Topbar-->
