<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{ 'pray' | translate }}</h3>
    </div>
  </div>
  <div class="card-body">
    <!-- TODO: If you wany Loading Show This div -->
    <!-- <div class="text-center pb-5">
      <mat-spinner class="m-auto"></mat-spinner>
    </div> -->

    <div class="table-responsive angular-bootstrap-table">
      <table
        class="table table-head-custom table-vertical-center overflow-hidden mt-6"
      >
        <thead>
          <th class="p-2">{{ 'test' | translate }}</th>
          <th class="p-2">{{ 'test' | translate }}</th>

          <th class="p-2 text-center" style="min-width: 155px">
            {{ 'action' | translate }}
          </th>
        </thead>

        <tbody>
          <tr>
            <td class="">test</td>

            <td class="">test</td>

            <td class="d-flex justify-content-center">
              <a
                [routerLink]="['/islamic/edit']"
                class="btn btn-primary mr-1"
                placement="top"
                [attr.ngbTooltip]="'edit' | translate"
              >
                <i class="fas fa-edit p-0"></i>
              </a>

              <button
                class="btn btn-success mr-1"
                placement="top"
                (click)="open(detailsModal)"
                [attr.ngbTooltip]="'details' | translate"
              >
                <i class="fas fa-eye p-0"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- end: Table -->
  </div>
</div>

<ng-template #detailsModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'pray' | translate }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
      عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي
      يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ
      -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى
      نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر
      المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل افتراضي كنموذج
      عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من
      المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة
      ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال
      بعض العبارات الفكاهية إليها.
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">
      {{ 'close' | translate }}
    </button>
  </div>
</ng-template>
