:host {
  .aside {
    height: 100%;

    .aside-menu {
      margin: 0;
    }
  }

  // fixed text line break issue on minimized aside hover
  .menu-text {
    white-space: nowrap;
  }
}

.custom-dropdown {
  .dropdown-item {
    cursor: pointer;
  }
  .add-new-btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  :hover {
    .add-new-btn {
      border-radius: 0;
    }
  }
}

.menu-item-open{
  .fa-angle-left{
    transform: rotate(-90deg);
  }
}
.fa-angle-left{
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
}