<div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper">
  <!--begin::Login-->
  <div
    class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white"
    id="kt_login"
  >
    <!--begin::Content-->
    <div
      class="flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden mx-auto"
    >
      <div class="d-flex justify-content-between px-4 py-6 align-items-center">
        <div></div>
      </div>
      <div
        class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden mx-auto"
      >
        <div class="p-7">
          <!--begin::Content body-->
          <div class="text-center mb-15">
            <img class="mx-4" src="./assets/media/logos/logo.png" width="120" />
          </div>
          <div class="d-flex flex-column-fluid flex-center">
            <router-outlet></router-outlet>
          </div>
          <!--end::Content body-->
        </div>
      </div>

      <div class="d-flex justify-content-between p-4">
        <div class="text-dark">
          <span class="text-muted font-weight-bold mr-2">
            {{ 'copyright' | translate }} {{ currentYear }} &copy;
          </span>
          <!-- <a
              href="http://www.moe.gov.eg/"
              target="_blank"
              class="text-dark-75 text-hover-primary"
              >SIS Admin</a
            > -->
        </div>
        <div class="text-dark">
          <!-- <a
              [routerLink]="['/docs/release']"
              class="text-dark-75 text-hover-primary"
              >Release <b>V</b> 1.0.0
            </a> -->
        </div>
      </div>
    </div>

    <!--end::Content-->
  </div>
  <!--end::Login-->
</div>
